<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Dashboard</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="assets/css/dashboard.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <main role="main" class="container">

      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded shadow-sm">
        <img class="mr-3" src="assets/img/user.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">{{ username }} </h6>
          <small>{{ compaign_record }}</small> <!-- <span class="mx-2">·</span> -->
        </div>
        <div style="float: right; margin-left: 700px;">
          <ul class="menu-action">
            <li><a href="{{link}}"> <img src="assets/img/email.svg" alt="" width="32" height="32"> </a></li>
            <li><a href="{{link}}"> <img src="assets/img/new-user.svg" alt="" width="32" height="32"> </a></li>
            <li><a href="{{link}}"> <img src="assets/img/logout.svg" alt="" width="32" height="32"> </a></li>
          </ul>
        </div>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0"> {{ Campaigns }} <span class="badge badge-pill bg-light align-text-bottom">04</span></h6>
        <div class="media text-muted pt-3">
          <img src="assets/img/paper-plane.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"> {{ campaign_title }} </strong>
              <a href=" {{link}} "> {{ View }} </a>
            </div>
            <span class="d-block"> {{ rowcount_mail_sended }} </span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img src="assets/img/paper-plane.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"> {{ campaign_title }} </strong>
              <a href=" {{link}} "> {{ View }} </a>
            </div>
            <span class="d-block"> {{ rowcount_mail_sended }} </span>
          </div>
        </div>
        <div class="media text-muted pt-3">
          <img src="assets/img/paper-plane.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark"> {{ campaign_title }} </strong>
              <a href=" {{link}} "> {{ View }} </a>
            </div>
            <span class="d-block"> {{ rowcount_mail_sended }} </span>
          </div>
        </div>
        <small class="d-block text-right mt-3">
          <a href=" {{link}} "> {{ all_campaigns }} </a>
        </small>
      </div>

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0"> {{ contacts }} </h6>
        <div class="media text-muted pt-3">
          <img src="assets/img/contact.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"> {{ full_name}} </strong>
            {{ email_address }}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <img src="assets/img/contact.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"> {{ full_name}} </strong>
            {{ email_address }}
          </p>
        </div>
        <div class="media text-muted pt-3">
          <img src="assets/img/contact.svg" alt="" width="32" height="32" class="mr-2 rounded">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"> {{ full_name}} </strong>
            {{ email_address }}
          </p>
        </div>
        <small class="d-block text-right mt-3">
          <a href=" {{link}} "> {{ all_contacts }} </a>
        </small>
      </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="node_modules/jquery-slim/dist/jquery.slim.min.js"><\/script>')</script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
